
<h1><%= @player_1_name %> vs. <%= @player_2_name %></h1>
<p><%= @player_1_name %> <%=@player_1_points %></p>
<p><%= @player_2_name %> <%=@player_2_points %></p>

<form>
  <button formaction= "/attack">Attack</button>
</form>
