


<h1><%= @player_1_name %> vs. <%= @player_2_name %></h1>
<p><%= @player_1_name %> <%= @player_1_hit_points %> HP
<p><%= @player_2_name %> <%= @player_2_hit_points %> HP

<form>
  <button formaction= "/attack">Attack</button>
</form>
